/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.header-content {
    margin-top: 10px;
    margin-bottom: 5px;
}

.logo-header {
    margin-left: 20px;
}

.text-header {
    font-size: 3em;
    font-family: sans-serif;
    vertical-align: top;
    font-weight: 600;
}



.container-main {
    background-color: rgb(232, 232, 232);
    height: 100vh;
    overflow: auto;
    font-family: sans-serif;
}

.main-box {
    width: 65%;
    height: 700px;
    background-color: #ffffff;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 50px;
    overflow: auto;
}

.margin-left-main {
    margin-left: 40px;
}

.add-things {
    margin-top: 20px;
}

.button-add {
    border: 1px solid lightgray;
    padding: 7px 10px;
    border-radius: 5px;
    font-size: 15px;
}

.color-bluetto {
    background-color: #13B5FB;
}

.add-task {
    margin-right: 10px;
    color: #ffffff;
}

.add-secition {
    color: lightgrey;
}

.color-hr {
    margin-top: 15px;
    opacity: 0.3;
}

.color-change-text {
    color: #515151;
}

.title-task {
    margin-top: 30px;
    margin-bottom: 15px;
}

ul {
    list-style: none;
    margin-top: 10px;
}

li {
    margin-bottom: 20px;
}

.mk-cicle {
    padding: 2px 4px;
    border-radius: 50%;
}

.check-cicle-task {
    color: #00E650;
    border: 1px solid #00E650;
}
.wrong-cicle-task
{
    color: #FF2020;
    border: 1px solid #FF2020;
}

.tag-task {
    padding: 5px 10px;
    font-size: 12px;
    color: #ffffff;
    border-radius: 10px;
}

#tag-goals {
    background-color: #B15BEC;
}

#tag-recruting {
    background-color: #1EE186;
}

#tag-mobile {
    background-color: #F5B11F;
}

#tag-website {
    background-color: #E455B2;
}

#tag-sales {
    background-color: #AEE455;
}