/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.header-content {
    margin-top: 10px;
    margin-bottom: 5px;
}

.logo-header {
    margin-left: 20px;
}

.text-header {
    font-size: 3em;
    font-family: sans-serif;
    vertical-align: top;
    font-weight: 600;
}



.container-main {
    background-color: rgb(232, 232, 232);
    height: 1000px;
    overflow: auto;
    font-family: sans-serif;
}

.main-box {
    width: 50%;
    height: 200px;
    background-color: #ffffff;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 50px;
    overflow: auto;
}

.margin-left-main {
    margin-left: 40px;
}

.add-things {
    margin-top: 20px;
}

.button-add {
    border: 1px solid lightgray;
    padding: 7px 10px;
    border-radius: 5px;
    font-size: 15px;
}

.color-bluetto {
    background-color: #13B5FB;
}

.add-task {
    margin-right: 10px;
    color: #ffffff;
}

.add-secition {
    color: lightgrey;
}

.color-hr {
    margin-top: 15px;
    opacity: 0.3;
}

.new-task-section {
    color: #515151;
}

.title-task {
    margin-top: 30px;
}

ul {
    list-style: none;
    margin-top: 10px;
}

.check-cicle-task {
    color: #00E650;
    border: 1px solid #00E650;
    border-radius: 50%;
}

.tag-editorial {
    padding: 5px 10px;
    font-size: 12px;
    color: #ffffff;
    border-radius: 10px;
}